﻿@{
    ViewBag.Title = "Home Page";
}

<div role="tabpanel" class="tab-pane" id="div_schedule">
    <div class="container" style="margin-top: 15px ;background: aliceblue;">
        <div style="float: left; width: 50%; border-right: thin solid lightblue">
            <form style="margin-top: 35px; margin-left: 40px;">
                <div class="form-group">
                    <label for="div_schedule" style="font-size: 18px;">Schedule Request</label>
                </div>
                <div class="form-group">
                    <label for="sch_practice_code" style="width: 18%;">Practice Code</label>
                    <input type="text" class="form-control" id="sch_practice_code" placeholder="e.g BEDBAA" style="display: inline;width: 67%" value="">
                </div>
                <div class="form-group">
                    <label for="sch_actor" style="width: 18%;">actor</label>
                    <input type="text" class="form-control" id="sch_actor" placeholder="Practitioner/NPI" style="display: inline;width: 67%" value="">
                </div>
                <div class="form-group">
                    <label for="sch_date" style="width: 18%;">date</label>
                    <input type="text" class="form-control" id="sch_date" placeholder="e.g 2016-09-09" style="display: inline;width: 67%" value="2021-04-08">
                </div>
                <div class="form-group">
                    <label for="sch_type" style="width: 18%;">type</label>
                    <input type="text" class="form-control" id="sch_type" placeholder="" style="display: inline;width: 67%" value="none">
                </div>
                <div class="form-group">
                    <label for="sch_identifier" style="width: 18%;">identifier</label>
                    <input type="text" class="form-control" id="sch_identifier" placeholder="" style="display: inline;width: 67%" value="none">
                </div>
                <div class="form-group">
                    <label for="sch_location" style="width: 18%;">actor.location</label>
                    <input type="text" class="form-control" id="sch_location" placeholder="Facility Id e.g 1" style="display: inline;width: 67%" value="">
                </div>
                <div class="form-group">
                    <label for="sch_location" style="width: 18%;">Header</label>
                    <div class="form-group">
                        <input type="text" style="width: 25%;float: left;margin-right: 10px;" value="Authorization" disabled="disabled" class="form-control">
                        <textarea type="text" class="form-control" id="sch_header_auth" placeholder="Bearer {authorization-token}" aria-describedby="basic-addon1" style="width: 65%"></textarea>
                    </div>
                </div>
                <div class="form-group" style="margin-top: 40px;">
                    <button type="button" class="btn btn-default">Show Request</button>
                    <button type="button" id="getSchedule" class="btn btn-primary">Search Schedule</button>
                </div>
                @*<input type="hidden" name="_csrf" value="4203415d-1846-4fb0-9cf1-193360c05ccb" />*@
            </form>
        </div>
        <div style="float: left; width: 50%;">
            <form style="margin-top: 35px; margin-left: 40px;">
                <div class="form-group">
                    <label for="Response" style="width: 15%; font-size: 18px;">Response</label>
                </div>
                <div class="form-group">
                    <div id="sch_response">
                        <label for="sch_location" style="width: 18%;">Schedule</label>
                        <select class="form-control" id="Schedule">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                    <div id="sch_response">
                        <label for="sch_location" style="width: 18%;">Slot</label>
                        <select class="form-control" id="Slot">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                    <div id="sch_response" style="margin-top: 40px;">
                        <button type="button" id="getSchedule" class="btn btn-primary">Make Appointment</button>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="4203415d-1846-4fb0-9cf1-193360c05ccb" />
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        $("#getSchedule").click(function () {
            var Url = "Home/List";
            $.ajax({
                type: "GET",
                url: Url,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    const obj = JSON.parse(data);
                    for (var i = 0; i < obj.entry.length; i++) {
                        var product = obj.entry[i].resource.planningHorizon.start.substring(0, 10);
                        $('#Schedule').append('<option value="' + product + '">' + product + '</option>');
                    }
                }
            });
        });

        $("#Schedule").change(function () {
            var scheduleDate = $("#Schedule option:selected").text();
            var selectList = $("#Slot");
            selectList.find("option:gt(0)").remove();
            var Url = "Home/Slots";
            $.ajax({
                type: "GET",
                url: Url,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    const obj = JSON.parse(data);
                    for (var i = 0; i < obj.entry.length; i++) {
                        var product = obj.entry[i].resource.start.substring(0, 10);
                        if (product == scheduleDate) {
                            var time = obj.entry[i].resource.start.substring(11, 16);
                            $('#Slot').append('<option value="' + time + '">' + time + '</option>');
                        } else {
                            alert("No record found");
                            return;
                        }

                    }
                }
            });
        });
    });
</script>